*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
   
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: inline;
    height: 100vh;
    margin: 0;
    color: #333;
  }
   
  .container {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
   
  h1 {
    font-size: 50px;
    color: #000000;
    font-family: 'Pokemon', Pixelify Sans;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
   
  .pokedex {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 0;
  }
   
  .card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
  }
   
  .card:hover {
    transform: scale(1.05);
  }
   
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 3px solid #ffcb05;
  }
   
  .card-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    padding: 10px;
    background-color: #f1f1f1;
    margin: 0;
  }
   
  .card-subtitle {
    font-size: 14px;
    color: #666;
    padding: 5px 10px;
    background-color: #f9f9f9;
    border-top: 2px solid #8c7209;
  }
   
  .card.grass {
    border-left: 5px solid #78C850;
    background: linear-gradient(to top, #78C850, transparent);
  }
   
  .card.fire {
    border-left: 5px solid #F08030;
    background: linear-gradient(to top, #F08030, transparent);
  }
   
  .card.water {
    border-left: 5px solid #6890F0;
    background: linear-gradient(to top, #6890F0, transparent);
  }
   
  .card.electric {
    border-left: 5px solid #F8D030;
    background: linear-gradient(to top, #F8D030, transparent);
  }
   
  .card.rock {
    border-left: 5px solid #B8A038;
    background: linear-gradient(to top, #B8A038, transparent);
  }
   
  .card.psychic {
    border-left: 5px solid #F85888;
    background: linear-gradient(to top, #F85888, transparent);
  }
   
  .card.ghost {
    border-left: 5px solid #705898;
    background: linear-gradient(to top, #705898, transparent);
  }
   
  .card.dragon {
    border-left: 5px solid #7038F8;
    background: linear-gradient(to top, #7038F8, transparent);
  }
   
  .card.dark {
    border-left: 5px solid #705848;
    background: linear-gradient(to top, #705848, transparent);
  }
   
  .card.fairy {
    border-left: 5px solid #EE99AC;
    background: linear-gradient(to top, #EE99AC, transparent);
  }
   
  .card.bug{
      border-left: 5px solid #8c7209;
      background: linear-gradient(to top, #8c7209, transparent);
  }
   
  .card.poison{
      border-left: 5px solid #8e5ffc;
      background: linear-gradient(to top, #8e5ffc, transparent);
  }
   
  .card.normal{
      border-left: 5px solid #979595;
      background: linear-gradient(to top, #979595, transparent);
  }
   
  .card.ground{
      border-left: 5px solid #594701;
      background: linear-gradient(to top, #594701, transparent);
  }
   
  .card.fighting{
      border-left: 5px solid #fd6f6f;
      background: linear-gradient(to top, #fd6f6f, transparent);
  }
   
  .card.ice{
      border-left: 5px solid #7ca1f8;
      background: linear-gradient(to top, #7ca1f8, transparent);
  }
   
  .card.steel{
      border-left: 5px solid rgb(135, 135, 135) ;
      background: linear-gradient(to top, rgb(135, 135, 135), transparent);
  }
   
   
   
   

   
  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(10px);
    }
    75% {
      transform: translateX(-10px);
    }
  }
   
  @media (max-width: 768px) {
    h1 {
      font-size: 36px;
    }
   
    .pokedex {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
   
    .card img {
      height: 200px;
    }
   
    .card-title {
      font-size: 20px;
    
    }
  }